* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Source Serif 4", serif;
  color: #a54328;
}

body {
  background-image: url(./assets/background.png);
  background-size: cover;
}

main {
  font-size: 1.4rem;
  line-height: 1.7rem;
  width: 33rem;

  text-align: left;
  margin-inline: auto;
  padding: 5.6rem 4rem ;

  max-width: 33rem;
  box-sizing: content-box;
}

h1 {
  font-size: 2.9rem;
}

img {
  width: 30rem;
  margin-top: 4.6rem;
  margin-bottom: 4.6rem;
}

p {
  margin-bottom: 3.6rem;
}

h3 {
  margin-top: 2.5rem;
}

ul, ol {
  padding-left: 2.4rem;
}

button {
  color: white;
  font-family: "Source Serif 4", serif;
  background-color: #a54328;

  border: 0;
  border-radius: 0.6rem;
  padding: 0.8rem 1.3rem;

  margin-top: 4.0rem;
}

@media (min-width: 1150px) {
  main {
    display: flex;
    padding: 0;  
    max-width: fit-content;

    width: 115rem;   
    font-size: 2rem;
    line-height: 2.2rem;

    gap: 18.9rem;
    padding: 9rem 6rem;
  }

  .description {
    max-width: 43.5rem;
  }

  .recepie {
    max-width: 43.5rem;
    line-height: 2.4rem;
  }

  h1 {
    font-size: 4rem;
    padding-bottom: 2.5rem;
  }

  img {
    width: 40rem;
    margin: 55px auto;
  }

  ul, ol {
    padding-top: 1rem;
  }

  button {
    width: 12.3rem;
    height: 4.5rem;
  }
}